<script src="/js/attempt/leaderboard.js"></script>

<div id="quiz-leaderboard-page" class="quiz-main-bg p-3">
  <div class="col-12 col-sm-10 col-md-8 px-0 mx-auto d-flex flex-column align-items-center justify-content-center h-100">
    <div>
      <h3 class="text-center font-weight-bold">Leader board</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Church</th>
            <th scope="col">Language</th>
            <th scope="col">Score</th>
            <th style="min-width: 125px;" scope="col">Time-Taken</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in QuizResponses">
            <th scope="row">\{{index + 1}}</th>
            <td>\{{item.participant && item.participant.name}}</td>
            <td>\{{item.participant && item.participant.church}}</td>
            <td>\{{item.language}}</td>
            <td>\{{item.my_score}}</td>
            <td>\{{item.time_taken}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>