<script src="/js/attempt/quiz-result.js"></script>


<div id="quiz-result-page">
    <div v-if="showLoading" class="loading-bg p-4">
    </div>

    <div v-if="showScore"
        class="quiz-main-bg row mx-0 w-100 justify-content-center align-items-center px-3 px-sm-3 px-md-5">
        <div class="col-12 col-sm-12 col-md-7 mx-auto px-0">
            <div class="col-12 col-sm-12 col-md-7 mx-auto pt-3">
                <h4 class="text-center">\{{user.name}}</h4>
                <h4 class="text-center">\{{user.church}}</h4>
            </div>
            <div class="score-wrapper mx-auto d-flex justify-content-center align-items-center">
                <img class="position-relative" src="/img/score-img.svg" width="250px" alt="">
                <div class="position-absolute">
                    <h1 class="font-weight-bold display-1 text-center">\{{myScore}}</h1>
                    <h1 class="text-center">out of \{{totalScore}}</h1>
                </div>
            </div>
            <h3 class="text-center my-3">time-taken: \{{timeTook}} sec</h3>
            <div class="col-12 col-sm-12 col-md-7 mx-auto pt-3 pt-sm-5 pt-md-5">
                <button @click="viewResult()" class="btn  p-2 pt-3 option-card"
                    style="background-color: #07c806; font-size: 1.5rem">View Responses</button>
                <a class="cursor-pointer" @click="logout()">
                    <p class="text-center text-primary mt-3" style="font-size: 1.5rem">Logout</p>
                </a>
            </div>
        </div>
        {{!--
    </div> --}}
</div>

<div v-if="showQuiz" class="quiz-main-bg px-3 px-sm-3 px-md-5 justify-content-between">
    <div v-if="questions.length" class="col-12 col-sm-8 col-md-7 px-0 mx-auto pt-md-4">
        <div class="p-2 p-sm-3 p-md-5 mt-4 text-center question-card">
            <h5 class="font-weight-bold text-left" v-html="currentQuestion.question[language]"></h5>
        </div>
        <div class="table-responsive mt-4">
            <table v-if="currentQuestion.list && currentQuestion.list[language].length" class="table table-striped">
                <tbody>
                    <tr v-for="(item, index) in currentQuestion.list[language]">
                        <td style="white-space: nowrap;">\{{item}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mx-0 w-100 mt-3 mt-sm-4 mt-md-5">
            <div class="w-100 px-0">
                <div class="radio-toolbar">
                    <div v-for="(option, index) in currentQuestion.options[language]" class="w-100">
                        <input type="radio" disabled="true" :id="'radio-question-' + currentQuestionNo + '-' + index"
                            class="'radio-question-' + currentQuestionNo" name="'radio-question-' + currentQuestionNo"
                            :value="option" @change="selectAnswer('radio-question-' + currentQuestionNo + '-' + index)"
                            v-model="selectedOption">
                        <label class="d-flex align-items-center justify-content-between w-full text-center"
                            :for="'radio-question-' + currentQuestionNo + '-' + index">
                            <p class="mb-0 mr-2 px-3 pb-2 pt-3 option-card"
                                :class="{'correct-answer': currentQuestion.answer[language] === option,  'bg-danger': (option === currentQuestion.user_answer && currentQuestion.answer[language] !== selectedOption)}">
                                \{{option}}</p>
                            <img :src="(index === 0 && '/img/option-A.svg') || (index === 1 && '/img/option-B.svg') || (index === 2 && '/img/option-C.svg')"
                                style="width: 60px;" alt="">
                        </label>
                    </div>
                </div>
            </div>
            <div
                class="d-none d-sm-none d-md-flex justify-content-between align-items-center position-fixed left-0 right-0 bottom-0 px-3">
                <div>
                    <div class="timer-wrapper" style="width: 100px; height: 80px; border-radius: 15px !important;">
                        <h5 class="text-white h3 mb-0 mt-2">\{{currentQuestionNo + 1}}/\{{questions.length}}</h5>
                    </div>
                    <p class="text-dark mt-1 text-center font-weight-bold">
                        \{{language === 'english' ? 'Question' : 'வினா என்'}}</p>
                </div>
                <div>
                    <button @click="nextResponse" role="button" type="submit"
                        class="bg-transparent outline-none btn px-0">
                        <img src="/img/next.svg" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <h3>No questions to show, please come back later..</h3>
    </div>
    <div class="d-flex d-sm-flex d-md-none justify-content-between align-items-end">
        <div class="text-center">
            <div class="timer-wrapper" style="width: 100px; height: 80px; border-radius: 15px !important;">
                <h5 class="text-white h3 mb-0 mt-2">\{{currentQuestionNo + 1}}/\{{questions.length}}</h5>
            </div>
            <p class="text-primary mt-1 mb-0 text-center font-weight-bold">
                \{{language === 'english' ? 'Question' : 'வினா என்'}}</p>
        </div>
        <button @click="nextResponse" role="button" type="submit" class="bg-transparent outline-none btn px-0">
            <img src="/img/next.svg" alt="" />
        </button>
    </div>
</div>
</div>